.cart-wrapper {
  padding: 60px 0 60px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #e8eaf0;
}

.cart-inner {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e8eaf0;
  border-top: 2px solid #e8eaf0;
}

.cart-produkt {
  padding-bottom: 75px;
}

.cart-price {
  font-size: 30px;
  font-weight: 700;
}

.cart-total-count {
  margin: 10px;
  display: block;
}

.cart-model-item {
  display: flex;
  flex-direction: column;
}

.cart-slider-text {
  display: block;
  max-width: 300px;
  padding-top: 36px;
  font-size: 16px;
}

.cart-produkt-delete,
.cart-produkt-pay {
  padding: 16px;
  max-width: 341px;
  height: 50px;
  background-color: #edf1f4;
  border: none;
  color: #243f4d;
  font-size: 18px;
  font-weight: 700;
  margin-right: 13px;
  border-radius: 4px;
}

.cart-count-wrapper {
  padding: 20px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .favorites-cart-price {
    font-size: 18px;
  }
}
