.login {
  padding: 120px 0 120px;
  max-width: 470px;
  margin: 0 auto;
}

.login-wrapper,
.login-inner {
  display: flex;
  flex-direction: column;
}

.login-text {
  padding-bottom: 15px;
}

.login-email,
.login-password {
  height: 60px;
  width: 100%;
  padding-bottom: 15px;
  border: 2px solid #f6f6f6;
}

.login-login {
  height: 60px;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #a9bac6;
  margin: 37px 0 37px;
  border: none;
}

.login-checkbox {
  display: flex;
  justify-content: space-between;
}

.check {
  display: flex;
}

.remember {
  line-height: 13px;
  margin-left: 13px;
  padding-bottom: 35px;
}

.decor-border-login {
  border-bottom: 2px solid #e8eaf0;
}

.acc-ancswer {
  text-align: center;
  padding: 36px 0 27px;
}

.login-registr {
  height: 60px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  border: 2px solid #a9bac6;
  color: #31414e;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
}

@media (max-width: 960px) {
  .login {
    padding: 40px 0 40px;
  }
}

@media (max-width: 768px) {
  .login {
    padding: 30px 0 30px;
  }
  .login-email,
  .login-password {
    height: 48px;
  }
  .login-login {
    margin: 20px 0 20px;
  }
  .acc-ancswer {
    padding: 12px 0 12px;
  }
  .login-registr,
  .login-login {
    height: 50px;
  }
}

@media (max-width: 550px) {
  .login {
    max-width: 300px;
  }
  .login-text,
  .remember,
  .email-text,
  .acc-ancswer {
    font-size: 12px;
  }
  .login-login {
    font-size: 14px;
  }
}
